@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Merriweather', serif;
}

[data-theme='dark'],
[data-theme='dark'] body {
  color: #fff;
  background: #171717;
}

.padding-web {
  @apply px-5 lg:px-40;
}

.small {
  @apply text-xs;
}

.paragraph {
  @apply text-base lg:text-lg;
}

.sub-title {
  @apply text-xl lg:text-2xl;
}

.title {
  @apply text-2xl lg:text-3xl;
}

.title-big {
  @apply text-3xl lg:text-4xl;
}

.flex-start {
  @apply flex items-start justify-start;
}

.flex-center {
  @apply flex items-center justify-center;
}

.flex-between {
  @apply flex items-center justify-between;
}

.gender-hover {
  @apply small border p-1 rounded-lg bg-white text-black hover:border hover:bg-transparent hover:text-white cursor-pointer;
}
